bin/
obj/

.vs/
.vscode/
.idea/

*.user
*.userosscache
*.suo
*.sln.docstates

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/

dist/
dist-ssr/

*.local

.DS_Store

.vscode/*
!.vscode/extensions.json

*.cab
*.msi
*.msm
*.msp

*.cab
*.msi
*.msm
*.msp

Thumbs.db
ehthumbs.db
